$light-text: #dcdcdd;
$primary-bg: #46494c;
$primary-accent: #1985a1;

$secondary-light-text: #e6e9f0;

// $snow-gradient: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
// $snow-gradient: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

$secondary-gradient: #2c77e3 linear-gradient(90deg, #2c77e3 0, #2fb6ed);

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 60%;
  margin: 3rem 0 3rem 0;

  .contact-inner-grid {
    display: grid;
    grid-template-columns: 37.5% 62.5%;
    border: none;
    outline: none;

    .contact-inner-grid-item:first-child {
      background: $secondary-gradient;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .contact-inner-grid-item:last-child {
      background: #c9ccd3;
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      background-blend-mode: lighten;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .contact-inner-grid-item {
      border: none;
      outline: none;
      .static-contact-info {
        padding: 0 2rem 0 0;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          list-style-type: none;

          li {
            margin: 1rem 0;
            h3 {
              font-size: 1.8rem;
              font-weight: 700;
              color: #fff;
            }
            a {
              font-weight: 500;
              font-size: 1.4rem;
              padding: 0 0 0.2rem 0;
              i {
                font-size: 1.7rem;
                vertical-align: middle;
              }
            }

            a:hover,
            a:focus {
              border-bottom: 2px #fff solid;
              cursor: pointer;
            }
          }
        }
      }

      .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border: none;
        padding: 1.5rem;

        textarea {
          grid-column: 1/3;
        }
        input,
        textarea {
          border-radius: 6px;
          border: none;
          outline: none;
          font-family: inherit;
          padding: 0.5rem 0.8rem;
          font-size: 1rem;
          transition: all 0.3s ease;
        }

        input:focus,
        textarea:focus {
          border: 1px solid $primary-accent;
          border-radius: 6px;
          transform: scale(1.01) translateY(-2px);
        }

        input {
          height: 2.5rem;
        }

        textarea {
          height: 8rem;
        }

        .form-alert {
          color: #fff;
          font-size: 1.1rem;
          padding: 0;
          grid-column: 1;
          font-weight: 700;
          text-align: left;
        }

        .warning {
          @extend .form-alert;
          color: #e03749;
        }

        .success {
          @extend .form-alert;
          color: #52b788;
        }

        .btn {
          vertical-align: middle;
          color: #fff;
          font-size: 1.25rem;
          grid-column: 2/2;
          justify-self: end;
          i {
            font-size: 1.6rem;
            vertical-align: middle;
          }
        }
        .btn:hover,
        .btn:focus {
          box-shadow: 1px 1px 10px $primary-bg;
          -moz-box-shadow: 1px 1px 10px $primary-bg;
          -webkit-box-shadow: 1px 1px 10px $primary-bg;
        }
      }
    }
  }
}
