.contact {
  width: 70%;
  margin: 3rem 0;

  .contact-inner-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    border: none;
    outline: none;

    .contact-inner-grid-item:first-child {
      background: $primary-accent;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .contact-inner-grid-item:last-child {
      background: $secondary-bg;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .contact-inner-grid-item {
      border: none;
      outline: none;
      .static-contact-info {
        padding: 0 2rem 0 0;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          list-style-type: none;

          li {
            margin: 1rem 0;
            h3 {
              font-size: 1.8rem;
              font-weight: 700;
              color: $text;
            }
            a {
              font-weight: 500;
              font-size: 1.4rem;
              padding: 0 0 0.2rem 0;
              i {
                font-size: 1.7rem;
                vertical-align: middle;
              }
            }

            a:hover,
            a:focus {
              border-bottom: 2px $text solid;
              cursor: pointer;
            }
          }
        }
      }

      .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border: none;
        padding: 1.5rem;

        textarea {
          grid-column: 1/3;
        }
        input,
        textarea {
          border-radius: 6px;
          border: none;
          outline: none;
          font-family: inherit;
          padding: 0.5rem 0.8rem;
          font-size: 1rem;
          transition: all 0.3s ease;
          background-color: $text;
        }

        input:focus,
        textarea:focus {
          border: 1px solid $primary-accent;
          border-radius: 6px;
          transform: scale(1.01) translateY(-2px);
        }

        input {
          height: 2.5rem;
        }

        textarea {
          height: 8rem;
        }

        .form-alert {
          font-size: 1.1rem;
          padding: 0;
          grid-column: 1;
          font-weight: 700;
          text-align: left;
        }

        .warning {
          @extend .form-alert;
          color: #e03749;
        }

        .success {
          @extend .form-alert;
          color: #52b788;
        }

        .btn {
          vertical-align: middle;
          font-size: 1.2rem;
          grid-column: 2/2;
          justify-self: end;
          padding: 0.6rem 1.5rem;
          line-height: 1.5;
          i {
            font-size: 1.4rem;
            vertical-align: text-bottom;
          }
        }
        .btn:hover,
        .btn:focus {
          box-shadow: 1px 1px 10px $text;
          -moz-box-shadow: 1px 1px 10px $text;
          -webkit-box-shadow: 1px 1px 10px $text;
        }
      }
    }
  }
}

// Layout for laptop screens
@media only screen and (max-width: 1500px) {
  .contact {
    width: 80%;
    .contact-inner-grid {
      grid-template-columns: 35% 65%;
      .contact-inner-grid-item {
        .static-contact-info {
          ul {
            li {
              h3 {
                font-size: 1.6rem;
              }
              a {
                font-size: 1.3rem;
                i {
                  font-size: 1.7rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .contact {
    width: 95%;
    margin: 1.5rem 0;
    .contact-inner-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contact-inner-grid-item:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .contact-inner-grid-item:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      .contact-inner-grid-item {
        width: 100%;

        .static-contact-info {
          ul {
            li {
              margin: 0.5rem 0;
              h3 {
                font-size: 1.75rem;
              }
            }
          }
        }

        .contact-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          input,
          textarea {
            padding: 0.5rem;
            margin: 0.5rem 0;
            width: 90%;
          }

          input {
            height: 2.4rem;
          }

          textarea {
            height: 8rem;
          }

          .form-alert {
            font-size: 1rem;
            margin: 0.5rem 0;
          }

          .btn {
            font-size: 1.3rem;
            padding: 0.6rem 1.4rem;
            margin: 0.75rem 0;
            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact {
    .contact-inner-grid {
      .contact-inner-grid-item {
        .static-contact-info {
          ul {
            li {
              margin: 0.4rem 0;

              h3 {
                font-size: 1.6rem;
              }
              a {
                font-size: 1.2rem;
                i {
                  display: none;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
