$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba($primary-bg, $alpha: 0.8);
  color: $text;
  padding: 0 1rem;
  height: 80px;

  .nav-title {
    padding: 1rem;
    font-size: 2rem;
    margin: 0 auto 0 0;

    a:hover,
    a:focus {
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style-type: none;

    li {
      margin: 0 1rem;
      color: $text;
      font-size: 1.3rem;

      a {
        text-decoration: none;
        color: $text;
        padding: 0 0 0.2rem 0;

        i {
          font-size: 1.6rem;
        }
      }

      a:hover,
      a:focus {
        border-bottom: 2px $text solid;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .navbar {
    .nav-title {
      font-size: 1.9rem;
    }

    .nav-links {
      li {
        font-size: 1.2rem;
        a {
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    .nav-links {
      display: none;
      li {
        font-size: 1.2rem;
        margin: 0.75rem 0;
        a {
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
