$light-text: #dcdcdd;
$primary-bg: #46494c;
// $primary-accent: #d100d1;
$primary-accent: #1985a1;

$primary-gradient: #fd4d8c
  linear-gradient(90deg, #fd4d8c 0, #fd766a 76%, #fc7f61);

.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba($primary-bg, $alpha: 0.8);
  color: $light-text;
  padding: 0 1rem;
  height: 80px;

  .nav-title {
    padding: 1rem;
    font-size: 2em;
    margin: 0 auto 0 0;

    a:hover,
    a:focus {
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style-type: none;

    li {
      font-size: 1rem;
      margin: 0 1em;
      color: $light-text;
      font-size: 1.3rem;

      a {
        text-decoration: none;
        color: $light-text;
        padding: 0 0 0.2rem 0;

        i {
          font-size: 1.6rem;
        }
      }

      a:hover,
      a:focus {
        border-bottom: 2px #fff solid;
        cursor: pointer;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(110%);
    padding: 1rem;
    background: $primary-gradient;

    border-radius: 6px;
    overflow: hidden;

    ul {
      list-style-type: none;
      color: $light-text;
      li {
        color: $light-text;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    .dropdown {
      transform: translateX(45%);
    }
  }
}
