$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba($primary-bg, $alpha: 0.8);
  color: $text;
  padding: 0 1rem;
  height: 80px;

  .nav-title {
    padding: 1rem;
    font-size: 2em;
    margin: 0 auto 0 0;

    a:hover,
    a:focus {
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style-type: none;

    li {
      font-size: 1rem;
      margin: 0 1em;
      color: $text;
      font-size: 1.3rem;

      a {
        text-decoration: none;
        color: $text;
        padding: 0 0 0.2rem 0;

        i {
          font-size: 1.6rem;
        }
      }

      a:hover,
      a:focus {
        border-bottom: 2px $text solid;
        cursor: pointer;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(110%);
    padding: 1rem;
    background: $primary-gradient;

    border-radius: 6px;
    overflow: hidden;

    ul {
      list-style-type: none;
      color: $text;
      li {
        color: $text;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    .dropdown {
      transform: translateX(45%);
    }
  }
}
