$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

@keyframes imgFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  margin: 0 0 4rem 0;

  .portfolio-item {
    &:first-child {
      img {
        object-fit: contain;
        background-color: $primary-bg;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $secondary-bg;
      height: auto;
      border-radius: 6px;
      overflow: hidden;

      &-img-top {
        height: 375px;
        object-fit: cover;
        object-position: top;
        width: 100%;
        opacity: 0.95;
        align-self: flex-start;
        animation: imgFadeIn 2s ease 0.5s 1 normal backwards;
        -webkit-animation: imgFadeIn 2s ease 0.5s 1 normal backwards;
      }
      .card-bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 315px;
        padding: 1rem 1rem 0 1rem;

        .card-title {
          color: $text;
          font-size: 1.5rem;
          font-weight: 500;
          text-align: center;
          margin: 0rem 0 0.8rem 0;
        }

        .card-text {
          color: $text;
          text-align: center;
          font-size: 1.1rem;
          margin: 0rem 0 1.2rem 0;
          line-height: 1.5;
          height: 70px;
        }

        .card-btn-tag-group {
          justify-content: flex-end;
          align-items: flex-end;
          .btn {
            vertical-align: middle;
            padding: 0.6rem 1.5rem;
            margin-bottom: 0.75rem;
            i {
              font-size: 1.5rem;
              vertical-align: text-bottom;
            }
          }

          .card-tags {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0.5rem 0 0 0;

            p:first-child {
              margin-left: 0.5rem;
            }

            p:last-child {
              margin-right: 0;
            }

            p {
              margin: 0 0.5rem 0.5rem 0;
              color: $primary-bg;
              font-weight: 500;
              border: none;
              color: $text;
              background-color: $primary-bg;
              font-size: 1.1rem;
              outline: none;
              border-radius: 30px;
              vertical-align: middle;
              padding: 0.5rem 0.8rem;
              min-width: fit-content;
              text-align: center;

              i {
                vertical-align: text-bottom;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

// Grid layout for wide screens
@media only screen and (min-width: 1921px) {
  .portfolio {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 6rem;
    margin: 0 0 4rem 0;

    .portfolio-item {
      .card {
        width: 90%;
        .card-bottom-content {
          height: 300px;
        }
      }
    }
  }
}

// Grid layout for large laptop screens
@media only screen and (max-width: 1800px) {
  .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 0;

    .portfolio-item {
      .card {
        .card-bottom-content {
          height: 360px;
        }
      }
    }
  }
}

// Grid layout for large laptop screens
@media only screen and (max-width: 1500px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    gap: 2rem;

    .portfolio-item {
      .card {
        .card-bottom-content {
          height: 300px;
        }
      }
    }
  }
}

// Grid layout for medium laptop screens
@media only screen and (max-width: 1275px) {
  .portfolio {
    .portfolio-item {
      .card {
        .card-bottom-content {
          height: 320px;
          padding: 0.5rem 0.5rem 0.3rem 0.5rem;

          .card-title {
            font-size: 1.3rem;
            margin: 0.5rem 0 1rem 0;
          }

          .card-text {
            font-size: 1.1rem;
            line-height: 1.4;
          }

          .card-btn-tag-group {
            .btn {
              padding: 0.5rem 1.4rem;
              margin-bottom: 0.7rem;
              i {
                font-size: 1.4rem;
              }
            }

            .card-tags {
              p {
                margin: 0 0.5rem 0.5rem 0;
                font-size: 1rem;
                outline: none;

                i {
                  vertical-align: text-bottom;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Large screen devices, iPads (not pro)
@media only screen and (max-width: 1000px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;

    .portfolio-item {
      .card {
        .card-bottom-content {
          padding: 0.6rem 0.5rem;
        }
      }
    }
  }
}
// Mobile screens
@media only screen and (max-width: 900px) {
  .portfolio {
    grid-template-columns: 1fr;
    .portfolio-item {
      .card {
        border: 1px solid $primary-accent;
        .card-bottom-content {
          //Remove
          padding: 0.6rem 0.5rem;
          height: auto;
          .card-text {
            height: auto;
          }
        }
      }
    }
  }
}

// Small mobile screens
@media only screen and (max-width: 400px) {
  .portfolio {
    .portfolio-item {
      .card {
        .card-bottom-content {
          .card-text {
            font-size: 1rem;
            line-height: 1.4;
          }
          .card-btn-tag-group {
            .btn-group {
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            .card-tags {
              margin: 0.4rem 0 0 0;
            }
          }
        }
      }
    }
  }
}
