$light-text: #e6e9f0;
$primary-bg: #46494c;
$primary-accent: #2fb6ed;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);
$secondary-gradient: #266cce linear-gradient(90deg, #2c77e3 0, #2fb6ed);

.portfolio {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 4rem;
  margin: 0 0 4rem 0;

  .portfolio-item {
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $light-text;
      height: auto;
      border-radius: 6px;
      overflow: hidden;

      .card-img-top {
        height: 375px;
        object-fit: cover;
        object-position: top;
        width: 100%;
        opacity: 0.95;
        align-self: flex-start;
      }

      .card-bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 315px;
        padding: 1rem 1rem 0 1rem;
        .card-title {
          color: $primary-bg;
          font-size: 1.4rem;
          font-weight: 500;
          text-align: center;
          margin: 0rem 0 0.8rem 0;
        }

        .card-text {
          color: $primary-bg;
          text-align: center;
          font-size: 1.1rem;
          margin: 0rem 0 1.2rem 0;
          overflow: hidden;
          line-height: 1.5;
        }

        .card-btn-tag-group {
          justify-content: flex-end;
          align-items: flex-end;
          .btn {
            vertical-align: middle;
            padding: 0.6rem 1.5rem;
            margin-bottom: 0.75rem;
            i {
              font-size: 1.5rem;
              vertical-align: text-bottom;
            }
          }

          .btn:hover,
          .btn:focus {
            box-shadow: 1px 1px 10px $primary-bg;
            -moz-box-shadow: 1px 1px 10px $primary-bg;
            -webkit-box-shadow: 1px 1px 10px $primary-bg;
          }

          .card-tags {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0.5rem 0 0 0;
            // padding: 0 2rem;

            p:first-child {
              margin-left: 0.5rem;
            }

            p:last-child {
              margin-right: 0;
            }

            p {
              margin: 0 0.5rem 0.5rem 0;
              color: $primary-bg;
              font-weight: 500;
              border: none;
              color: $light-text;
              background-color: $primary-bg;
              font-size: 1.1rem;
              outline: none;
              border-radius: 30px;
              vertical-align: middle;
              padding: 0.5rem 0.8rem;
              min-width: fit-content;
              text-align: center;

              i {
                vertical-align: text-bottom;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

// Grid layout for wide screens
@media only screen and (min-width: 1921px) {
  .portfolio {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10rem;
    margin: 0 0 4rem 0;

    .portfolio-item {
      .card {
        width: 90%;
        .card-bottom-content {
          height: 300px;
        }
      }
    }
  }
}
