$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

.showcase {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(250px, 500px);
  padding: 2rem 1rem;
  margin: 0 0 12rem 0;

  .showcase-item {
    color: $text;
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 3rem;
      img {
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }

      p {
        padding: 3rem;
        line-height: 1.7;
        font-size: 1.1rem;
      }
    }
    .showcase-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

// Grid layout for laptop screens
@media only screen and (max-width: 1500px) {
  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 4rem 0;
    .showcase-item:first-child {
      display: none;
    }

    .showcase-item {
      .showcase-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 2.8rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
