$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

.showcase {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 6rem 0;

  .showcase-item {
    color: $text;

    .showcase-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    h1 {
      font-size: 3rem;
      margin: 0;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 10px;
    }
    .btn-group {
      margin-top: 20px;
    }
  }
}

// Layout for laptop screens and smaller
@media only screen and (max-width: 1500px) {
  .showcase {
    .showcase-item {
      .showcase-main {
        h1 {
          font-size: 2.8rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
