.showcase {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 6rem 0;

  .showcase-item {
    color: $text;

    .showcase-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    h1 {
      font-size: 4rem;
      margin: 0;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: 500;
      margin-top: 1.5rem;
    }
    .btn-group {
      margin-top: 20px;
    }
  }
}

// Layout for laptop screens and smaller
@media only screen and (max-width: 1500px) {
  .showcase {
    .showcase-item {
      .showcase-main {
        h1 {
          font-size: 2.9rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
