$light-text: #dcdcdd;
$primary-bg: #46494c;
$primary-accent: #1985a1;

$primary-gradient: #fd4d8c
  linear-gradient(90deg, #fd4d8c 0, #fd766a 76%, #fc7f61);

.showcase {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(250px, 500px);
  padding: 2rem 1rem;
  margin: 0 0 5rem 0;

  .showcase-item {
    color: $light-text;
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 3rem;
      img {
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }

      p {
        padding: 3rem;
        line-height: 1.7;
        font-size: 1.1rem;
      }
    }
    .showcase-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
