$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 4rem 0;
  .timeline-list {
    list-style-type: none;

    li:nth-child(even) {
      border-left: 3px solid;
      border-bottom: 3px solid;
      border-image: $primary-gradient;
      -moz-border-image: $primary-gradient;
      -webkit-border-image: $primary-gradient;
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      border-image-width: 0 0 3px 3px;
      padding-right: 0;

      &:before {
        right: 100.5%;
        transform: translateY(110%);
        margin-right: -20px;
      }
    }

    li:nth-child(odd) {
      border-right: 3px solid;
      border-bottom: 3px solid;
      border-image: $primary-gradient;
      -moz-border-image: $primary-gradient;
      -webkit-border-image: $primary-gradient;
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      padding-left: 0;
      text-align: right;

      &:before {
        left: 100.5%;
        margin-left: -20px;
        transform: translateY(110%);
      }
    }

    li:first-child {
      border-top: 0;
    }
    li:last-child {
      border-bottom: 3px solid;
      border-image: $primary-gradient;
      -moz-border-image: $primary-gradient;
      -webkit-border-image: $primary-gradient;
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      // border-width: 3px;
    }

    li {
      font-size: 1em;
      line-height: 1.75em;
      // border-width: 3px;
      margin: 0;
      padding: 40px;
      counter-increment: section;
      position: relative;
      color: $text;

      &:before {
        content: counter(section);
        position: absolute;
        border-radius: 50%;
        padding: 10px;
        height: 1.25em;
        width: 1.25em;
        background-color: $text;
        font-weight: 500;
        text-align: center;
        line-height: 1.25em;
        color: #34435e;
        font-size: 1em;
      }

      .timeline-title {
        font-weight: 500;
        font-size: 1.3rem;
        padding: 0 1rem;
      }
      .timeline-text {
        font-size: 1.1rem;
        padding: 0 1rem;
      }
      .timeline-date {
        font-size: 1rem;
        padding: 0 1rem;
        margin: 0 0 1.5rem 0;
      }
      .btn {
        padding: 0.7rem 1.5rem;
      }
      .timeline-link {
        font-size: 1rem;
        color: #fff;
        vertical-align: middle;
        i {
          font-size: 1.3rem;
          vertical-align: text-bottom;
        }
      }
    }
  }

  #download {
    margin: 1rem 0 0 0;
    i {
      font-size: 1.4rem;
    }
  }
}
