@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@import '_navbar';
@import '_showcase';
@import '_portfolio';
@import '_contact';
@import '_timeline';

$text: #e6e9f0;
$primary-bg: #111111;
$primary-accent: #3c6fde;
$secondary-accent: #f98951;
$secondary-bg: #1b1b1b;

$primary-gradient: linear-gradient(135deg, #743ad5 0%, #d53a9d 100%);

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  background-color: $primary-bg;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5.5rem 7rem 5.5rem;
  background-color: $primary-bg;
  overflow-x: hidden;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  color: $text;
  border-bottom: 4px solid $secondary-accent;
  border-width: 4px;
  margin: 0 auto 3rem 5rem;
  padding: 0 0 0.5rem 0;
}

.btn {
  border: none;
  outline: none;
  border-radius: 30px;
  margin: 0 0.5rem;
  vertical-align: middle;
  font-size: 1.1rem;
  padding: 0.9rem 1.8rem;
  line-height: 1.5;
  max-width: 20%;
  min-width: fit-content;
  text-align: center;
  transition: all 0.1s ease;
}

a {
  color: $text;
  text-decoration: none;
}

.btn-primary {
  @extend .btn;
  background: $primary-accent;
  font-weight: 700;
}
.btn-secondary {
  @extend .btn;
  background: $secondary-bg;
  color: $primary-accent;
  border: 1px solid $primary-accent;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px $text;
  -moz-box-shadow: 1px 1px 10px $text;
  -webkit-box-shadow: 1px 1px 10px $text;
  cursor: pointer;
}

.btn:active {
  transform: translateY(-3px) scale(1.05);
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: $text;
}
body::-webkit-scrollbar-thumb {
  background: $primary-accent;
}

// Grid layout for laptop screens
@media only screen and (max-width: 1500px) {
  .container {
    width: 100%;
    background-color: $primary-bg;

    .content {
      padding: 0 1rem 5rem 1rem;

      .section-heading {
        font-size: 1.5rem;
        margin: 0 auto 3rem auto;
        padding: 0 0 0.5rem 0;
      }
    }
  }
}

// // Grid layout for medium laptop screens
// @media only screen and (max-width: 1275px) {
//   .portfolio {
//     .portfolio-item {
//       .card {
//         .card-bottom-content {
//           height: 320px;
//           padding: 0.5rem 0.5rem 0.3rem 0.5rem;

//           .card-title {
//             font-size: 1.3rem;
//             margin: 0.5rem 0 1rem 0;
//           }

//           .card-text {
//             font-size: 1.1rem;
//             line-height: 1.4;
//           }

//           .card-btn-tag-group {
//             .btn {
//               padding: 0.5rem 1.4rem;
//               margin-bottom: 0.7rem;
//               i {
//                 font-size: 1.4rem;
//               }
//             }

//             .card-tags {
//               p {
//                 margin: 0 0.5rem 0.5rem 0;
//                 font-size: 1rem;
//                 outline: none;

//                 i {
//                   vertical-align: text-bottom;
//                   font-size: 1.3rem;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // Large screen devices, iPads (not pro)
// @media only screen and (max-width: 1000px) {
//   .portfolio {
//     grid-template-columns: 1fr;
//     padding: 0 2rem;

//     .portfolio-item {
//       .card {
//         .card-bottom-content {
//           height: auto;
//           padding: 0.6rem 0.5rem;
//         }
//       }
//     }
//   }
// }
// // Mobile screens
// @media only screen and (max-width: 750px) {
//   .portfolio {
//     padding: 0;

//     .portfolio-item {
//       .card {
//         .card-bottom-content {
//           //Remove
//           padding: 0.6rem 0.5rem;
//         }
//       }
//     }
//   }
// }
