@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@import '_navbar';
@import '_showcase';
@import '_portfolio';
@import '_contact';
@import '_timeline';

$light-text: #dcdcdd;
$primary-bg: #46494c;
$primary-accent: #1985a1;

$secondary-light-text: #e6e9f0;

// dark gradient

// background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
//  background-blend-mode: multiply,multiply;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  background-color: $primary-bg;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5.5rem;
  background-color: $primary-bg;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  color: $light-text;
  border-bottom: 4px solid $primary-accent;
  margin: 0 auto 3rem 5rem;
  padding: 0 0 0.5rem 0;
}

.btn {
  border: none;
  outline: none;
  border-radius: 30px;
  margin: 0 0.5rem;
  vertical-align: middle;
  font-size: 1.1rem;
  padding: 0.9rem 1.8rem;
  line-height: 1.5;
  max-width: 20%;
  min-width: fit-content;
  text-align: center;
  transition: all 0.1s ease;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn-primary {
  @extend .btn;
  background: #fd4d8c linear-gradient(90deg, #fd4d8c 0, #fd766a 76%, #fc7f61);
  font-weight: 700;
}
.btn-secondary {
  @extend .btn;
  background: #2c77e3 linear-gradient(90deg, #2c77e3 0, #2fb6ed);
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px $light-text;
  -moz-box-shadow: 1px 1px 10px $light-text;
  -webkit-box-shadow: 1px 1px 10px $light-text;
  cursor: pointer;
}

.btn:active {
  transform: translateY(-3px) scale(1.05);
}

.btn-group {
  display: flex;
  flex-direction: row;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: $light-text;
}
body::-webkit-scrollbar-thumb {
  background: $primary-accent;
}
